.navbar{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
        padding: 20px;
        margin: 20px;
        font-style:sans-serif;
        color:white;        
}
.table {
    display: flex;
    justify-content: center ;
align-items: center;
}
.image {
    display: flex;
    justify-content: center ;
  } 
 



body{
    
    background-image: Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),

    Linear-gradient(127deg, black, black 70.71%),
    
    Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

    
}


